
* {

    box-sizing: border-box;
}

body{

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.center{
    width: 100vw;
    height: 90vh;
background-image: url('../img/1.jpg');
background-position: center;
background-size: cover;
position: absolute;
z-index: 1;

    
}
#logo {
  width: 100px;
  height: 100px;
  margin: 0;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 2
;
}
nav div {
  display: inline-block;
}
